@model FileModel
@{
    var fileSize = Model.Size / 1024;
    var address = "/Home/download/?fileDir=" + Model.Owner + "/" + Model.Name;
    var file = Model.Owner + "/" + Model.Name; 
}

<tr class="clickable-file" data-href=@address>
    <td class="file-text">
        <i class="fas fa-@Model.FontAwesomeFileType"></i>&emsp;@Model.Name
    </td>
    <td class="file-text">@Model.Owner</td>
    <td class="file-text">@Model.LastModified</td>
    <td class="file-text">@fileSize KB</td>
    <td>
        <button class="btn btn-secondary delete" onclick="deleteLoad('@file')">Delete</button>
    </td>
</tr>
