@model FileModel

@{
    var fileSize = Model.Size / 1024;
}

<tr>
    <td class="fileText">
        <i class="fas fa-@Model.FontAwesomeFileType"></i>&emsp;@Model.Name
    </td>
    <td class="fileText">@Model.Owner</td>
    <td class="fileText">@Model.LastModified</td>
    <td class="fileText">@fileSize KB</td>
    <td>
        <button class="btn btn-secondary">Delete</button>
    </td>
</tr>