@model FileModel
@{var address = "/Home/download/?fileDir=" + Model.Owner + "\\" + Model.Name;}
@{var file = Model.Owner + "\\\\" + Model.Name; }
@{
    var fileSize = Model.Size / 1024;
}

<tr>
    <td class="fileText">
        <i class="fas fa-@Model.FontAwesomeFileType"></i>&emsp;<a href=@address>@Model.Name</a>
    </td>
    <td class="fileText">@Model.Owner</td>
    <td class="fileText">@Model.LastModified</td>
    <td class="fileText">@fileSize KB</td>
    <td>
        <button class="btn btn-secondary delete" onclick="deleteLoad('@file')">Delete</button>
    </td>
</tr>
