@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="loginPage">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleEmail">Email</label>
                            <input class="form-control"
                                   type="email"
                                   name="email"
                                   id="exampleEmail"
                                   placeholder="email@example.com"/>
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="examplePassword">Password</label>
                            <input class="form-control"
                                   type="password"
                                   name="password"
                                   id="examplePassword"
                                   placeholder="password"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
