@model List<FileModel>
@{
    ViewData["Title"] = "User Home Page";
}

<div class="container">
    <div class="row align-items-center justify-content-end" style="margin-top: 1rem">
        <div class="col-xs-4 flex-row justify-content-end">
            <div class="input-group">
                <input disabled placeholder="  Select files to upload"/>
                <div class="input-group-append">
                    <label class="btn btn-outline-dark"
                           style="margin-bottom: 0">
                        <span class="fas fa-plus"></span>&emsp;Upload
                        <input type="file" style="display: none" multiple/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        @for (var i = 0; i < Math.Min(5, Model.Count); i++)
        {
            <div class="col">
                <partial name="_QuickAccessCard" model="@Model[i]"/>
            </div>
        }
    </div>
    <div style="margin-top: 1rem">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Last Modified</th>
                <th>Size</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (FileModel fm in Model)
            {
                <partial name="_FileListItem" model="@fm"/>
            }
            </tbody>
        </table>
    </div>
</div>