@model List<FileModel>
@{
    ViewData["Title"] = "User Home Page";
}

<div class="container">
    <div class="row align-items-center justify-content-end" style="margin-top: 1rem">
        <div class="col-xs-4 flex-row justify-content-end">
            <form method="post" class="inputform" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name ="files"class="custom-file-input" id="inputGroupFile01" multiple>
                        <label class="custom-file-label file-name" for="inputGroupFile01">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Upload</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <hr />
    <div class="row">
        @for (var i = 0; i < Math.Min(4, Model.Count); i++)
        {
            <div class="col card-column">
                <partial name="_QuickAccessCardPartial" model="@Model[i]" />
            </div>
        }
        @for (var i = 0; i < (4 - Model.Count); i++)
        {
            <div class="col card-column"></div>
        }
    </div>
    <div style="margin-top: 1rem">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Last Modified</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (FileModel fm in Model)
                {
                    <partial name="_FileListItemPartial" model="@fm" />
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/file.js"></script>
    @*<script>
        $(function() {
            var fileCardText = $(".file-name");
            for (var i = 0; i < fileCardText.length; i++) {
                var fileSplit = fileCardText[i].innerText.split('.');
                var fileName = fileSplit.shift();
                if (fileName.length > 20) {
                    var subStr = fileCardText[i].innerText.substring(0,10);
                    fileCardText[i].innerText = subStr;
                    fileCardText[i].innerText += '...';
                }
            }
        });
    </script>*@
    <script type="text/javascript">
        $('#inputGroupFile01').on('change', function () {
            var maxfsize = 100000000;
            for (let i = 0; i < $(this)[0].files.length; i++) {
                if ($(this)[0].files[i].size > maxfsize) {
                    $(this).next('.custom-file-label').html("File Size Limit Hit. Try Again");
                    $(".inputform").get(0).reset();
                    return;
                }
            }
            if ($(this)[0].files.length > 1) {
                $(this).next('.custom-file-label').html($(this)[0].files.length + " files selected.");
            }
            else {
                var fileName = $(this).val();
    
                $(this).next('.custom-file-label').html(fileName);
            }
    
        })
    </script>
}

