#card-img {
    position: relative;
}
#card-img .fa-info-circle {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
/*.card-text {
    color: dimgray;
}*/
.fa-file-excel {
    color: green;
}
.fa-file-word {
    color: mediumblue;
}
.fa-file-image {
    color: dodgerblue;
}
.fa-file-audio {
    color: orangered;
}
/*#fileLink:hover {
    text-decoration: none;
}
#fileLink {
    color: unset;
}*/
html,
#root,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
#loginCard {
    width: 40rem;
}
body>.container {
    display: block;
}
body>.navbar {
    flex: 0 0 56px;
}
#loginPage {
    display: flex !important;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.file-text {
    padding-top: 1.2em !important;
}
.file-listing {
    text-decoration: none;
}
.file-card {
    max-height: 222px;
}
.card-column {
    max-width: 20%;
}
.custom-file-label {
    overflow: hidden;
}
/*
#loginCard .form-group {
    width: 20rem;
}*/
